:root {
    --main-font-family: 'Alegreya', serif;
    --fantasy-font-family: 'Cinzel Decorative', cursive;
}

.main-font {
    font-family: var(--main-font-family);
}
.fantasy-font {
    font-family: var(--fantasy-font-family);
}

.hero-banner h1 {
    font-size: 48px;
}
.hero-banner .btn {
    position: relative;
    overflow: hidden;
    z-index: 9;
}
.hero-banner .btn-primary {
    color: #2f2f41;
    background-color: rgba(1, 164, 121, 0.1);
}
.hero-banner .btn:before {
    content: "";
    background: #60B2FE;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.hero-banner .btn:hover:before {
    width: 100%;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }